.projectsSliderContainer {
	border: solid 1px #dcdcdc;
	margin-top: 70px;
	position: relative;
	height: 398px;
	overflow: hidden;
}

.projectsSlidingContainer {
	position: absolute;
	width: 4800px;
	height: 400px;
	left: 0;
	top: 0;
	overflow: hidden;
	transition: 0.3s;
}

.projectSlide {
	float: left;
	width: 960px;
	overflow: hidden;
}

.projectSlide .left {
	width: 479px;
	float: left;
	border-right: solid 1px #dcdcdc;
}

.projectSlide .left img {
	width: 100%;
}


.projectSlide .right {
	width: 480px;
	float: left;
	background: #fdfdfd;
	height: 100%;
	visibility: hidden;
}

.projectSlide .right .rightInnerWrapper {
	width: 80%;
	margin: 24% 10% 10% 10%;
}

.projectSlide .right h2 {
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	margin-bottom: 20px;
}

.projectSlide .right p {
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	margin-bottom: 20px;
}

.projectSlide .right img {
	width: 100%;
	margin-bottom: 10px;
}

.projectSlide .right  h3 {
	font-weight: 500;
	font-size: 20px;
	color: #000;
	line-height: 20px;
}

.projectSlide .right  h3 span {
	color: #a8a8a8;
	font-size: 12px;
}




.projectsSlidingContainerSlide1 {
	left: 0;
}

.projectsSlidingContainerSlide2 {
	left: -960px;
}

.projectsSlidingContainerSlide3 {
	left: -1920px;
}

.projectsSlidingContainerSlide4 {
	left: -2880px;
}

.projectsSlidingContainerSlide5 {
	left: -3840px;
}






.projectsSliderButtons {
	overflow: hidden;
	margin-top: 20px;
}

	.projectsSliderButton {
		border: solid 2px #f0f0f0;
		background: #fff;
		padding: 14px;
		margin-right: 10px;
		color: #2ade73;
		float: left;
	}

	.projectsSliderButton:hover, .projectsSliderButtonSelected {
		border: solid 2px #2ade73;
		cursor: pointer;
	}







/*Responsiveness*/




/* iPhone */
@media (min-width: 322px) {
	
	.projectsSliderContainer {
		height: 263px;
	}
	
	.projectsSlidingContainer {
		width: 3200px;
		height: 265px;
	}

	.projectSlide {
		width: 640px;
	}

	.projectSlide .left {
		width: 319px;
	}




	.projectsSlidingContainerSlide1 {
		left: 0;
	}

	.projectsSlidingContainerSlide2 {
		left: -640px;
	}

	.projectsSlidingContainerSlide3 {
		left: -1280px;
	}

	.projectsSlidingContainerSlide4 {
		left: -1920px;
	}

	.projectsSlidingContainerSlide5 {
		left: -2560px;
	}
	
}



/* small tablet */
@media (min-width: 480px) {
	
		.projectsSliderContainer {
		height: 400px;
	}
	
	.projectsSlidingContainer {
		width: 4800px;
		height: 400px;
	}

	.projectSlide {
		width: 960px;
	}

	.projectSlide .left {
		width: 479px;
	}




	.projectsSlidingContainerSlide1 {
		left: 0;
	}

	.projectsSlidingContainerSlide2 {
		left: -960px;
	}

	.projectsSlidingContainerSlide3 {
		left: -1920px;
	}

	.projectsSlidingContainerSlide4 {
		left: -2880px;
	}

	.projectsSlidingContainerSlide5 {
		left: -3840px;
	}
	
}



/* iPad Portrait */
@media (min-width: 768px) {
	
	.projectsSliderContainer {
		height: 325px;
	}
	
	.projectsSlidingContainer {
		width: 3930px;
		height: 326px;
	}

	.projectSlide {
		width: 768px;
	}

	.projectSlide .left {
		width: 392px;
	}
	
	.projectSlide .right {
		width: 375px;
		visibility: visible;
	}

	.projectSlide .right .rightInnerWrapper {
		width: 70%;
		margin: 21% 15% 25% 15%;
	}




	.projectsSlidingContainerSlide1 {
		left: 0;
	}

	.projectsSlidingContainerSlide2 {
		left: -768px;
	}

	.projectsSlidingContainerSlide3 {
		left: -1536px;
	}

	.projectsSlidingContainerSlide4 {
		left: -2304px;
	}

	.projectsSlidingContainerSlide5 {
		left: -3072px;
	}
	
}


/* iPad Landscape -> Desktop */
@media (min-width: 1024px) {
	
	.projectsSliderContainer {
		height: 398px;
	}
	
	.projectsSlidingContainer {
		width: 4800px;
		height: 400px;
	}

	.projectSlide {
		width: 960px;
	}

	.projectSlide .left {
		width: 479px;
	}
	
	.projectSlide .right {
	width: 480px;
		height: 400px;
	}

	.projectSlide .right .rightInnerWrapper {
	width: 80%;
	margin: 24% 10% 10% 10%;
	}




	.projectsSlidingContainerSlide1 {
		left: 0;
	}

	.projectsSlidingContainerSlide2 {
		left: -960px;
	}

	.projectsSlidingContainerSlide3 {
		left: -1920px;
	}

	.projectsSlidingContainerSlide4 {
		left: -2880px;
	}

	.projectsSlidingContainerSlide5 {
		left: -3840px;
	}
	
}

	