.headerImage {
	width: 100%;
	margin-top: 74px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 74px 0 0 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


/*Office Activities*/

#textContainer .left,
#textContainer .right {
	width: 50%;
	float: left;
}

/* Less than 768px */
@media (max-width: 768px) {
	
		#textContainer .left,
		#textContainer .right {
		width: 100%;
		float: none;
	}
	
}


	#textContainer .left {
		margin-bottom: 50px;
	}

	#textContainer h1 {
		text-transform: uppercase;
		font-size: 29px;
	}

	#textContainer h2 {
		text-transform: uppercase;
		font-size: 1.2em;
		line-height: 1.4em;
		font-weight: 600;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	#textContainer h3 {
		text-transform: uppercase;
		font-size: 1.2em;
		line-height: 1.4em;
		margin-top: 1px;
		margin-bottom: 10px;
	}

		#textContainer p {
		font-size: 1.1em;
		font-weight: 300;
		line-height: 1.8em;
		margin-top: 10px;
		margin-bottom: 10px;
		color: #505050;
	}

	#textContainer p .pin {
		width: 12px;
		margin-right: 4px;
		vertical-align: baseline;
	}

	#textContainer p span {
		font-style: italic;
	}

	#textContainer p a {
		text-decoration: none;
		color: #505050;
		font-weight: 400;
	}

	#textContainer p strong {
		font-size: 0.9em;
		font-weight: 500;
	}

	#textContainer ul li {
		line-height: 1.8em;
	}




/*Selected Projects*/


#selectedProjects {
	margin-top: 144px;
	overflow: hidden;
}

	

	#selectedProjects a {
		text-decoration: none;
		color: #000;
	}

	.selectedprojectscoloumnleft,
	.selectedprojectscoloumnright {
		width: 47.5%;
		float: left;
	}

	.selectedprojectscoloumnleft {
		margin-right: 5%;
	}

		
		#selectedProjects .projectCard {
			padding-top: 0;
			padding-bottom: 3px;
			transition: all 0.1s;
			background: #d6000b;
			margin-bottom: 10%;
			
			-webkit-box-shadow: 0px 0px 34px -4px rgba(168,168,168,0.68);
			-moz-box-shadow: 0px 0px 34px -4px rgba(168,168,168,0.68);
			box-shadow: 0px 0px 34px -4px rgba(168,168,168,0.68);
		}

		#selectedProjects .projectCard:hover {
			padding-top: 3px;
			padding-bottom: 0;
		}

		#selectedProjects .projectCard img {
			width: 100%;
		}

		#selectedProjects .projectCard .textContainer {
			background: #fff;
			padding: 20px 30px;
			margin-top: -3px;
		}

		/*Double Width Project Card*/

		#selectedProjects .projectCardDoubleWidth .textContainer {
			padding: 30.5px 30px;
		}

		#selectedProjects .projectCard .textContainer h3 {
			margin-bottom: 8px;
		}


	#selectedProjects .insidecoloumnleft,
	#selectedProjects .insidecoloumnright {
		float: left;
		width: 44.5%;
	}

	#selectedProjects .insidecoloumnleft {
		margin-right: 11%;
	}


	/*Selected Projects Font Styles*/


	#selectedProjects .insidecoloumnleft h3,
	#selectedProjects .insidecoloumnright h3,
	#selectedProjects .insidecoloumnleft h4,
	#selectedProjects .insidecoloumnright h4 {
		font-size: 14px;
		line-height: 18px;
	}



/* Less than 768px */
@media (max-width: 768px) {
	
	.selectedprojectscoloumnleft,
	.selectedprojectscoloumnright {
		width: 100%;
	}
	
}

/* Less than 480px */
@media (max-width: 480px) {
	
	#selectedProjects .projectCardDoubleWidth h3,
	#selectedProjects .projectCardDoubleWidth h4 {
		font-size: 14px;
		line-height: 18px;
	}
	
	#selectedProjects .projectCard .textContainer h3 {
			margin-bottom: 2px;
		}
	
	#selectedProjects .insidecoloumnleft,
	#selectedProjects .insidecoloumnright {
		width: 100%;
	}
	
}


/*Selected Projects Detailed View*/

#selectedProjectsDetailedview {
	margin-top: 200px;
	overflow: hidden;
}

	#selectedProjectsDetailedview h1 {
		font-size: 40px;
		line-height: 50px;
		text-decoration: underline;
		margin-bottom: 20px;
	}

	#selectedProjectsDetailedview h2 {
		font-size: 16px;
		line-height: 20px;
		color: #828282;
		margin-bottom: 40px;
	}

	#selectedProjectsDetailedview h2 b {
		font-weight: 600;
	}

	#selectedProjectsDetailedview img {
		margin-bottom: 40px;
		margin-right: 10px;
		max-width: 40%;
		
		-webkit-box-shadow: 20px 20px 30px 0 rgba(0,0,0,0.25);
		-moz-box-shadow2 20px 20px 30px 0 rgba(0,0,0,0.25);
		box-shadow: 20px 20px 30px 0 rgba(0,0,0,0.25);
	}

	#selectedProjectsDetailedview a {
		color: #828282;
		text-decoration: none;
	}

	#selectedProjectsDetailedview a:hover {
		text-decoration: line-through;
	}


/* Less than 480px */
@media (max-width: 480px) {
	
	#selectedProjectsDetailedview {
		margin-top: 144px;
	}
	
	#selectedProjectsDetailedview img {
		min-width: 100%;
	}
	
}
